<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.getcharzp.cn.getcharzp.mapper.ArticleMapper">
    <select id="getArticles" resultMap="MyArticle">
        select a.id aid, a.title title, c.id cid, c.name cname from article a, cate c where a.cid = c.id
    </select>
    <resultMap id="MyArticle" type="Article">
        <result column="aid" property="id" />
        <!--<result column="title" property="title" />-->
        <result column="cid" property="cate.id" />
        <result column="cname" property="cate.name" />
    </resultMap>

    <select id="getArticlesIf" resultType="Article">
        select * from article
        <where>
            <if test="title != null">
                and title like #{title}
            </if>
            <if test="cid != null">
                and cid = #{cid}
            </if>
        </where>
    </select>
</mapper>
